/* reset */
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-weight: 700;
  height: 100%;
  width: 100%;
}
/* variable */
.theme {
  --p-color: hsl(172, 67%, 45%);
  --dark-green: hsl(183, 100%, 15%);
  --lowdark-green: hsl(186, 14%, 43%);
  --backgroung-primary: hsl(185, 41%, 84%);
  --light-gray: hsl(185, 41%, 84%);
  --white: hsl(0, 0%, 100%);
}

/* base */

/* style */

main {
  /* height: 100%; */
}

.container {
  margin-inline: auto;
  margin: auto;
  padding: 0 15px;

  min-height: 100vh;
  background-color: var(--backgroung-primary);
}

.main-div {
  height: 55rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 5rem;
}

.p-inmain {
  max-width: 50rem;
  margin-top: 10rem;
  color: var(--lowdark-green);
  font-family: sans-serif;
}

.calc-div {
  background-color: var(--white);
  width: 60rem;
  height: 35rem;
  padding: 1.4rem;
  border-radius: 1.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
